#contenedor
{
    width: 100%;
    margin: auto;
}
#oradores
{
    width: 80%;
    margin: auto;
}
#formulario
{
    width: 50%;
    margin: auto;
}
#titulo, p{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}
img.d-block w-100 { 
  filter: brightness(50%);
}
.carousel-item {
  filter: brightness(50%);
}
.carousel-caption {
    position: absolute;
    right: 0%; 
    bottom: 10%;
    left: 60%;
    color: #fff;
    text-align: right;
    width: 30%;
    filter: brightness(100%);
  }

  .green{
    text-decoration:none;
    color: green;
  }
  .gris{
    text-decoration:none;
    color: gray;
  }
  /*  Este es para el elemento activo lo puedes omitir si asi deseas */
.navbar-light .navbar-nav .active>.nav-link  {
  color: red;
 }
 /* Este es para los elementos en general */
.navbar-light .navbar-nav .nav-link {
  color: orange;
  }
  .btn-outline-secondary{
    color: #fff;
  }
  .card-text{
    text-align: left;
  }
  textarea::placeholder {
      font-size: 1.2em;
  }
  .btn-success{
    background:#000000;
    background-color: rgb(112, 228, 59);
  }

  #navbarNav{
    justify-content: right;

  }
  #navbarNav2{
    background-color: #354a66;
    justify-content: center;
  }
